* {
  box-sizing: border-box;
}

body {
  background-color: lightyellow;
  font-family: "Alegreya Sans", sans-serif;
  max-height: 100vh;
  max-width: 100vw;
}

main {
  background-image: url(../images/bg/valley.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
}

h1,
h2,
h3 {
  font-family: "Alegreya", serif;
  text-align: center;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}

button,
input[type="submit"] {
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: 800;
  padding: 0.75rem 1rem;
}

#frame {
  background-color: rgb(0, 0, 0, 0.8);
  border: 3px groove white;
  color: white;
  margin: 5vh 5vw;
  height: auto;
  padding: 1rem;
}

.hidden {
  display: none;
}
.block-centered {
  display: block;
  margin: 0 auto;
}

/* Navigation bar */

.navbar {
  align-items: center;
  display: flex;
  height: 60px;
}

#img--nav-icon {
  cursor: pointer;
  height: 50px;
  width: 50px;
}

#h2--nav-title {
  flex-grow: 2;
  font-size: 1.5em;
  margin: 0;
  margin-left: 0.5rem;
  text-align: left;
}

.btn--login {
  background-color: gold;
  border-radius: 25px;
  font-size: 1.1em;
  font-weight: bold;
  margin-right: 0.5rem;
  padding: 0.75em 1em;
  text-transform: uppercase;
}

#btn--signup {
  background-color: lightblue;
}

#nav--mobile-menu button,
.btn--header {
  background-color: gold;
  border-radius: 25px;
  font-size: 1.1em;
  font-weight: bold;
  margin-right: 0.5rem;
  padding: 0.75em 1em;
}
.btn--login:hover,
#nav--mobile-menu button:hover,
.btn--header:hover {
  border: 1px solid #ffa600;
  color: white;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}

#img--menu {
  height: 50px;
  width: 50px;
}
#img--menu:hover {
  cursor: pointer;
}

#nav--mobile-menu {
  background-color: lightyellow;
  border: 1px solid black;
  border-bottom-left-radius: 10px;
  border-right: none;
  border-top: none;
  position: absolute;
  right: 0px;
  top: 60px;
}

#nav--mobile-menu ul {
  list-style-type: none;
  margin: 0.5rem 1rem;
  padding: 0;
}

#nav--mobile-menu ul li {
  padding: 1rem 0;
  text-align: center;
}

#nav--mobile-menu button,
.btn--header {
  background-color: lightgreen;
}

#nav--mobile-menu button {
  letter-spacing: 0;
  text-transform: none;
  width: 100px;
}

.btn--header {
  display: none;
  width: 150px;
}

.btn--signout {
  font-size: 1em;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.btn--header + .btn--signout,
#nav--mobile-menu .btn--signout {
  background-color: gold;
  width: 110px;
}

/* Landing page */

#h1--banner {
  margin: 0;
  padding-top: 10vh;
}

#h2--info {
  display: block;
  line-height: 1.25em;
  margin: 0 auto;
  width: 100%;
}

.span--title {
  color: lightgreen;
}

.btn--push-large {
  background-color: lightgreen;
  display: block;
  margin: 1rem auto;
  position: relative;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  top: 2px;
}
.btn--push-large:hover {
  box-shadow: 0 4px #619949;
  color: white;
  top: 0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}
.btn--push-large:active {
  box-shadow: 0 0 #619949;
  top: 6px;
}

/* Signup & login forms */

#h1--signup {
  font-size: 1.5em;
}

#h1--login {
  font-size: 2.5em;
  margin-bottom: 1rem;
}

#form--signup,
#form--login {
  margin: 0 auto;
  width: max-content;
}

#form--signup fieldset,
#form--login fieldset {
  border: none;
}

#form--signup legend {
  text-align: center;
}

#form--signup input[type="submit"] {
  display: block;
  margin: 1.5rem auto 0 auto;
}

.signup-container {
  margin: 0.5rem 0;
}

.signup-container label {
  padding-left: 0.2rem;
}

.signup-container input {
  border-color: rgb(209, 209, 209);
  border-radius: 5px;
  display: block;
  font-weight: 600;
  margin-top: 0.15rem;
  padding: 0.25rem;
  width: 200px;
}

/* Choose character */

#form--choose-character {
  border-radius: 3%;
  font-size: 1.25em;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 500px;
  text-align: center;
}
#form--choose-character fieldset {
  border: none;
  padding: 0px;
}
#form--choose-character legend {
  font-family: "Alegreya", serif;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 0 0.25em;
}
#form--choose-character label {
  background-color: black;
  background-image: url(../images/tree-logo.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  border: 1px solid grey;
  color: white;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin: 0.75rem auto 0 auto;
  padding: 0.75rem 0 0.75rem 4rem;
  width: 200px;
}
#form--choose-character label:hover {
  border: 1px solid #ffa600;
}
#form--choose-character label[for="mage"] {
  background-image: url(../images/characters/mage-icon.gif);
}
#form--choose-character label[for="thief"] {
  background-image: url(../images/characters/thief-icon.gif);
}
#form--choose-character label[for="warrior"] {
  background-image: url(../images/characters/warrior-icon.gif);
}
#form--choose-character input[type="radio"] {
  display: none;
}
#form--choose-character .radio-selected {
  border: 1px solid #ffa600;
  color: #ffcd3c;
}

#new-character-info p {
  margin-top: 0;
}

#btn--start {
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0.5rem auto 1rem auto;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

/* Story */

p {
  font-size: 1.2em;
}

.text--first-person {
  font-style: italic;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn--next,
.btn--combat,
.btn--restart {
  background: goldenrod;
  border: 1px solid lightslategrey;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
}
.btn--next:hover,
.btn--combat:hover,
.btn--restart:hover {
  border: 1px solid orange;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}

.btn--combat {
  background: firebrick;
  display: block;
  letter-spacing: 0.75px;
  margin: 0 auto;
  text-transform: uppercase;
}

.btn--restart {
  background: rgb(59, 167, 59);
  display: block;
  letter-spacing: 0.75px;
  margin: 0 auto;
  text-transform: uppercase;
}

/* Character screen */

.char-info--container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

/* Combat */

.combat--h1 {
  font-size: 2em;
  margin: 1rem auto;
}

#frame + .combat--screen {
  background-color: black;
}

.combat--character {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  height: 30vh;
}
.icon {
  grid-area: 1 / 1 / 2 / 2;
  margin: 1rem auto;
  max-width: fit-content;
}
.icon img {
  height: 4rem;
}
.vitals {
  grid-area: 2 / 1 / 3 / 2;
}
.vitals h3 {
  margin: 0.25rem auto;
}
.actions {
  grid-area: 1 / 2 / 3 / 3;
}
.actions form {
  margin-top: 1rem;
}
.combat--character .btn--action-submit {
  background: firebrick;
  color: white;
  letter-spacing: 0.75px;
  padding: 0.5rem 0.75rem;
  text-transform: uppercase;
}
.btn--action-submit:hover {
  color: yellow;
}

.combat--log {
  border: 1px solid white;
  margin: 0.5rem 0;
  max-height: 30vh;
  overflow: auto;
}

.combat--enemy {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.combat--enemy .name {
  grid-area: 1 / 2 / 2 / 3;
}
.combat--enemy .vitals {
  grid-area: 2 / 1 / 3 / 2;
}
.combat--enemy .enemy-actions {
  grid-area: 2 / 2 / 3 / 3;
}
.enemy-actions h3 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}
.enemy-actions p {
  font-size: 1.2em;
  text-align: center;
}

@media (min-width: 600px) {
  body,
  main,
  .navbar {
    margin: 0 auto;
    max-width: 1000px;
  }

  #frame {
    margin: 5vh 10vw;
  }

  #img--menu {
    display: none;
  }

  .btn--header {
    display: inline-block;
    margin: 0 1rem;
    width: 150px;
  }

  #h2--info {
    max-width: 600px;
  }

  .combat--container {
    display: grid;
    grid-template-columns: 5rem 1fr 1fr 1fr 1fr 5rem;
    grid-template-rows: 30vh 30vh;
  }
  .combat--character {
    grid-area: 2 / 2 / 3 / 4;
  }
  .combat--log {
    grid-area: 1 / 2 / 2 / 6;
  }
  .combat--enemy {
    grid-area: 2 / 4 / 3 / 6;
  }
}
