* {
  box-sizing: border-box;
}

body {
  background-color: lightyellow;
  margin: 0 auto;
  max-width: 600px;
}

main {
  font-family: 'Alegreya Sans', sans-serif;
  margin: 0 auto;
  max-width: 600px;
  width: 90vw;
}

header {
  background-color: lightyellow;
  background-image: url(../images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'Alegreya', serif;
  text-align: center;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}

button {  
  border: none;
  border-radius: 25px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 1em 1.5em;
  text-transform: uppercase;
}

/* Navigation bar */

.navbar {
  align-items: center;
  border-bottom: 1px solid black;
  display: flex;
}

#img--nav-icon {
  height: 50px;
  width: 50px;
}

#h2--nav-title {
  flex-grow: 2;
  font-size: 1.5em;
  margin: 0;
  margin-left: .5rem;
  text-align: left;
}

.btn--login {
  background-color: #ffcd3c;
  border-radius: 25px;
  font-size: 1em;
  font-weight: bold;
  margin-right: .5rem;
  padding: .5em .6em;
  text-transform: uppercase;
}
.btn--login:hover {
  border: 1px solid #ffa600;
  color: white;
  transition: all .2s;
	-webkit-transition: all .2s;
  -moz-transition: all .2s;
}

/* Landing page */

#h1--banner {
  margin: 0;
  padding-top: 10vh;
}

#h2--info {
  display: block;
  line-height: 1.25em;
  margin: 2rem auto;
}

#span--h2-info {
  color: #1c5702;
}

#btn--enter {
  background-color: #ACCC9F;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 2px;
}
#btn--enter:hover {
  box-shadow: 0 4px #619949;
  color: white;
  top: 0;
  transition: all .2s;
	-webkit-transition: all .2s;
  -moz-transition: all .2s;
}
#btn--enter:active {
  box-shadow: 0 0 #619949;
  top: 6px;
}

@media (min-width: 600px) {
  body, .navbar {
    max-width: 1000px;
  }

  #h2--info {
    max-width: 600px;
  }
}